/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body, html{
  font-family: Nunito;
  width: 100%;
  height: 100%;
}

.fact {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  color: white; /* text-white in Tailwind */
  font-size: 1.125rem; /* text-lg in Tailwind (equivalent to 18px) */
}

.fact > h2 {
  font-weight: bold; /* font-bold */
  margin-right: 0.5rem; /* mr-2 (8px in Tailwind) */
}

