/* NavBar.module.css */
  .navbar {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #579076;
    padding: 10px 0;
    z-index: 49;
  }
  
  .navItem {
    color: white;
    font-size: 250%;
    cursor: pointer;
    flex: 1;
    text-align: center;
  }
  
  .navItem:hover {
    color: #B6EEA6;
    transition: color 0.3s ease;
  }
  